*{
-webkit-box-sizing: bordor-box;
-moz-box-sizing: bordor-box;
-ms-box-sizing: bordor-box;
box-sizing: bordor-box;
}

body {
margin: 0;
padding: 0;
color: #333;
font-family: 'Anonymous Pro', monospace;
}

.contianer {
max-width: 1170px;
margin: auto;
padding: 0 15px;
}
.clear{ clear:both; }
img{ max-width:100%;}
.banner-wrap{width: 100%; display: inline-block;padding: 50px 0;}
.left-right {width: 100%; display: inline-block;}
.banner-wrap .left-right .left-wrap{float: left;width: 30%;}
.banner-wrap .left-right .right-wrap{float: right; width: 65%;}
.banner-wrap .left-right .right-wrap p{font-weight:400;font-size:25px;margin-top: 0;}

@media only screen and (min-width:992px) and (max-width:1199px){}

@media only screen and (min-width:768px) and (max-width:991px){}

@media only screen and(max-width: 768px){
	.left-right .left-wrap {width: 100%;}
    .left-right .right-wrap {width: 100%;padding-top: 25px;}
}
