body{margin:0px; padding:0px; font-size:14px; color:#000000; font-family: 'Anonymous Pro', monospace; background: #fff; font-weight:400;}
img{max-width:100%;}
a,button {
  text-decoration: none;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor:pointer;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container {max-width:1200px; padding-left:15px; padding-right:15px; margin:0 auto;}
.discription{float: left; font-size: 17px; line-height: 25px; letter-spacing: 0;}
.discription img{float: left; margin: 0 20px 0 0;}